// color variables
$theme_color: #f47814;
$bg_color: #000000;
$font_color: #ffffff;
$sheet_color: #1b1e27;
$item_color: #2b2f3b;
$color_choice_1:#eaa5a4;
$color_choice_2:#a7e0d1;
$color_choice_3: #8f8cd1;
$btn_color_start: #fa7f17;
$btn_color_middle: #e3650f;
$btn_color_end: #ce3d02